body {
  height: 100%;
  background-color: rgb(33, 28, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3em;
}

.options {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.button {
  text-align: center;
  /* height: 30px; */
  padding: 7px 20px;
  color: white;
  background-color: rgb(0, 0, 0);
  /* width: 100px; */
  transition-duration: 0.2s;
  margin: 4px 2px;
  border: 1px solid rgb(127, 127, 127);
}

.button:hover {
  background-color: rgb(70, 70, 70);
  color: white;
  padding: 10px 22px;
}

input[type='text'] {
  color: white;
  border: 1px solid gray;
  background-color: black;
  width: 60px;
  transition-duration: 0.4s;
}

input:hover {
  /* background-color: rgb(0, 0, 0); */
  color: white;
  padding: 2px 8px;
}

input.color {
  background-color: rgb(33, 28, 0);
  border: 0px solid rgb(0, 0, 0);
  height: 45px;
  width: 90px;
  padding: 7px;
  transition-duration: 0.3s;
}

input.color:hover {
  padding: 0px;
}

.container {
  --size: 4;
  background-color: rgb(62, 62, 62);
  width: 960px;
  height: 960px;
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  gap: 2px;
  padding: 4px;
}

div.box {
  background-color: black;
  border-radius: 2px;
}

/* .rangeslider{
    width: 50%;
    } */
